#search-bar {
  width: 500px;
}

.question-block {
  border: 1px solid black;
}

.question-body {
  border: 1px solid blueviolet;
  color: blue;
}

.answer-body {
  border: 1px solid black;
}

.answer-panel {
  color: black;
  display: inline-block;
  justify-content: baseline;
}

.add-answer-form {
  /* display: none; */
  position: fixed;
  background-color: yellow;
  top: 0;
  opacity: 1.0;
  border: 3px solid grey;
  z-index: 9;
}

.helpful-answer {
  color: red;
}

.report-answer {
  color: red;
}