.question-block {
  border: 1px solid black;
}

.question-body {
  border: 1px solid blueviolet;
  color: blue;
}

.answer-body {
  border: 1px solid black;
}

.answer-panel {
  color: black;
  display: inline-block;
  justify-content: baseline;
}

.helpful-answer {
  color: red;
}

.report-answer {
  color: red;
}