#search-bar {
  width: 500px;
}

.question-block {
  border: 1px solid black;
}

.question-body {
  border: 1px solid grey;
  color: black;
  /* background-color: white; */
}

.panel-element {
  float: right
}

.answer-body {
  border: 1px solid black;
  /* background-color: lightcyan; */
}

.answer-panel {
  color: black;
  /* display: inline-block; */
  /* justify-content: baseline; */
}

.answer-image {
  height: 150px;
  width: 150px;
}

.rendered-answer-img {
  height: 150px;
  width: 150px;
}

#answer-modal {
  position: fixed;
  z-index: 999999999999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

#question-modal {
  position: fixed;
  z-index: 999999999999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-textbox {
  height: 100px
}

.close-button {
  top: 0;
  right: 0
}

.add-answer-form {
  /* display: none; */
  position: fixed;
  margin: 15% auto;
  padding: 20px;
  background-color: whitesmoke;
  border: 3px solid grey;
  width: 80%
  /* z-index: 1; */
}

#answer-list {
  max-height: 400px;
  overflow: auto;
}

.add-question-form {
  /* display: none; */
  position: fixed;
  margin: 15% auto;
  padding: 20px;
  background-color: whitesmoke;
  border: 3px solid grey;
  width: 80%;
  z-index: 999999999999;
}

.helpful-answer {
  color: red;
}

.report-answer {
  color: red;
}