/** RELATED PRODUCTS LIST **/
.carousels-overview h3 {
  font-family: Arial, Helvetica, sans-serif;
  color: #757575;
  font-weight: 200;
  font-size: 12px;
  padding-left: 8px;
}

.left-arrow,
.right-arrow {
  position: relative;
  top: 50%;
  width: 15px;
  height: 15px;
  color: #757575;
  border-radius: 10px;
  z-index: 1001;
  cursor: pointer;
}

.left-arrow {
  left: 0px;
}

.right-arrow {
  right: 0px;
}


.carousel-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.hidden {
  visibility: hidden;
}

.carousel-content-wrapper {
  overflow: hidden;
  height: 320px;
  width: 860px;
  background-color: #fafafa;

}

.carousel-content {
  display: flex;
  transition: transform .5s, z-index .5s;
}

.card-visuals {
  position: relative;
}

.product-details {
  margin: 0px 5px;
}

.product-card {
  display: flex;
  align-items: flex-start;
  float: left;
  width: 200px;
  height: 302px;
  margin: 7px;
  object-fit: cover;
  border: 1px solid #888;
}

.product-card:hover {
  background-color: white;
  opacity: 0.9;
  transition: 0.1s;
}

.favorite-btn {
  z-index: 3000;
  color: rgb(255, 255, 255);
  stroke-width: 30%;
  position: absolute;
  left: 170px;
  top: 10px;
}

.delete-btn {
  z-index: 3000;
  color: rgb(255, 255, 255);
  stroke-width: 70%;
  position: absolute;
  left: 170px;
  top: 10px;
}

.favorite-btn:hover,
.delete-btn:hover {
  color: rgb(255, 167, 2);
}


.card-image img {
  align-self: start;
  object-fit: cover;
  object-position: 50% 85%;
  background-color: #888;
  height: 220px;
  width: 200px;
  position: relative;
}


.card-category,
.card-name,
.card-price,
.card-rating {
  font-family: Arial, Helvetica, sans-serif;
  color: #757575;
  margin: 5px 0px 0px 0px;
}

.card-category,
.card-price {
  text-transform: uppercase;
  font-weight: 200;
  font-size: 10px;
}

.card-name {
  font-weight: 600;
  font-size: 14px;
  color: #757575;
}

/**ADD OUTFIT CARD**/
.add-card {
  display: flex;
  align-items: flex-start;
  float: left;
  justify-content: center;
  width: 200px;
  height: 302px;
  margin: 0px 7px 1px 7px; /*top-right-bottom-left*/
  border: 1px solid #888;
}


.add-details {
  flex-wrap: nowrap;
  margin: auto;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: #757575;
  font-weight: 200;
  font-size: 14px;

}

.add-btn {
  z-index: 1001;
  top: 10px;
  display: flex;
  justify-content: center;
  color: black;
  margin-bottom: 5px;
  stroke-width: 80%;
  opacity: 0.5;
}

.add-btn:hover {
  opacity: 1.0;
  transition: 0.1s;
}


/**MODAL**/

.modal {
  position: fixed;
  text-align: center;
  left: 50%;
  top: 50%;
  width: 50%;
  height: 50%;
  transform: translate(-50%, -50%);
  background: ivory;
  border: 1px solid;
  border-radius: 10px;
  z-index: 9999;
}