/** RELATED PRODUCTS LIST **/

.product-list{
  width: 100%;
  height: auto;
}

.carousels-overview h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  font-size: 14px;
  padding: 24px 0px 0px 8px;
}

.left-arrow,
.right-arrow {
  position: relative;
  top: 50%;
  min-width: 15px;
  min-width: 15px;
  border-radius: 10px;
  z-index: 1001;
  cursor: pointer;
}

.carousel-container .left-arrow {
  left: 2px;
}

.carousel-container .right-arrow  {
  right: 2px;
}


.carousel-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.hidden {
  visibility: hidden;
}

.carousel-content-wrapper {
  overflow: hidden;
  height: 320px;
  width: 873px;
  float: left;
  border-radius: 10px;
}

.carousel-content {
  margin: 0 auto;
  display: flex;
  transition: transform .5s, z-index .5s;
}

.card-visuals {
  position: relative;
}

.product-details {
  margin: 0px 5px;
}

.product-card {
  display: flex;
  align-items: flex-start;
  float: left;
  width: 200px;
  height: 302px;
  margin: 5px;
  object-fit: cover;
  border-radius: 16px;
  border: .5px solid rgba(170, 170, 170, 0.25);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05);
}


.favorite-btn {
  z-index: 3000;
  height: 25px;
  width: 25px;
  background-color: rgb(232, 215, 215);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  color:rgba(0, 0, 0, 0.9);
  stroke-width: 30%;
  position: absolute;
  left: 170px;
  top: 10px;
}

.delete-btn {
  z-index: 3000;
  height: 25px;
  width: 25px;
  background-color: rgba(248,248,255);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  color:rgba(0, 0, 0, 0.9);
  stroke-width: 70%;
  position: absolute;
  left: 170px;
  top: 10px;
}

.favorite-btn:hover,
.delete-btn:hover {
  background-color: rgba(170, 170, 170);
}


.card-image img {
  align-self: start;
  object-fit: cover;
  object-position: 50% 85%;
  height: 220px;
  width: 200px;
  border-radius: 4% 4%;
  position: relative;
}

.card-image:hover {
  opacity: 0.8;
  transition: 0.2s;
}


.card-category,
.card-name,
.card-price,
.card-rating {
  font-family: Arial, Helvetica, sans-serif;
  margin: 5px 0px 0px 0px;
}

.card-category,
.card-price {
  text-transform: uppercase;
  font-weight: 200;
  font-size: 10px;
}

.card-name {
  font-weight: 600;
  font-size: 14px;
}


/**ADD OUTFIT CARD**/
.add-card {
  align-items: flex-start;
  float: left;
  display: flex;
  justify-content: center;
  width: 200px;
  height: 302px;
  margin: 0px 7px 1px 7px; /*top-right-bottom-left*/
  border-radius: 16px;
  border: .5px solid rgba(170, 170, 170, 0.25);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05);
}


.add-details {
  flex-wrap: nowrap;
  margin: auto;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  font-size: 14px;

}

.add-btn {
  z-index: 1001;
  top: 4px;
  left: 30px;
  display: flex;
  justify-content: center;
  height: 25px;
  width: 25px;
  background-color: rgba(248,248,255);
  border-radius: 50%;
  color:rgba(0, 0, 0, 0.9);
  margin-bottom: 5px;
  stroke-width: 80%;
  position: relative;
}

.add-btn:hover {
  opacity: 1.0;
  transition: 0.1s;
  background-color: rgba(170, 170, 170);
}



/**MODAL**/

.modal {
  position: fixed;
  text-align: center;
  left: 50%;
  top: 50%;
  width: 400px;
  max-width: 100%;
  height: 400px;
  max-height: 100%;
  margin: -200px 0 0 -200px;
  background: rgb(255, 255, 255, 0.98);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  font-size: 16;
  color: black;
  z-index: 9999;
}

.close-btn {
  z-index: 3000;
  color: rgb(0, 0, 0);
  stroke-width: 30%;
  position: absolute;
  right: 10px;
  top: 10px;
}

.modal-body {
  max-height: 100%;
  padding: 20 px 50px 20px 20px;
}

.modal-body h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

table {
  margin-left: auto;
  margin-right: auto;
}


table thead th {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-align: center;
  font-weight: lighter;
  padding: 10px;
  color: black;
  border-collapse: separate;
  border-spacing: 10px;
}

tbody {
  overflow-y: auto;
}

tbody tr td {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: lighter;
  font-size: 12px;
  color: black;
  border-collapse: separate;
  text-align: center;
}

