/** RELATED PRODUCTS LIST **/
h3 {
  font-family: Arial, Helvetica, sans-serif;
  color: #757575;
  font-weight: 200;
  font-size: 12px;
  padding-left: 8px;
}

.left-arrow,
.right-arrow {
  position: relative;
  top: 50%;
  width: 15px;
  height: 15px;
  color: black;
  border-radius: 10px;
  z-index: 1001;
  cursor: pointer;
}

.left-arrow {
  left: 0px;
}

.right-arrow {
  right: 0px;
}


.carousel-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}



.carousel-content-wrapper {
  overflow: hidden;
  height: 350px;
  background-color: #fafafa;

}

.carousel-content {
  display: flex;
  transition: transform .5s, z-index .5s;
}

.card-visuals {
  position: relative;
}

.product-details {
  margin: 0px 5px;
}

.product-card {
  overflow-x: hidden;
  display: flex;
  align-items: flex-start;
  float: left;
  width: 200px;
  height: 100%;
  margin: 7px;
  object-fit: cover;
  border: 1px solid #888;

}

.favorite-btn {
  z-index: 1001;
  color: white;
  stroke-width: 30%;
  position: absolute;
  left: 170px;
  top: 10px;
}

.card-image img {
  align-self: start;
  object-fit: cover;
  object-position: 50% 85%;
  background-color: #888;
  height: 220px;
  width: 200px;
  position: relative;
  z-index: 1;
}


.card-category,
.card-name,
.card-price,
.card-rating {
  font-family: Arial, Helvetica, sans-serif;
  color: #757575;
  margin: 5px 0px 0px 0px;
}

.card-category,
.card-price {
  text-transform: uppercase;
  font-weight: 200;
  font-size: 10px;
}

.card-name {
  font-weight: 600;
  font-size: 14px;
  color: #757575;
}

.checked {
  color: orange;
}


/****YOUR OUTFIT LIST *****/

.left-arrow,
.right-arrow {
  position: relative;
  top: 50%;
  width: 15px;
  height: 15px;
  color: black;
  border-radius: 10px;
  z-index: 1001;
  cursor: pointer;
}

.left-arrow {
  left: 0px;
}

.right-arrow {
  right: 0px;
}

.outfit-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.outfit-carousel-wrapper {
  overflow: hidden;
  height: 350px;
  background-color: #fafafa;

}

.outfit-content {
  display: flex;
  transition: transform .5s, z-index .5s;
}


/**ADD OUTFIT CARD**/

.add-card {
  display: flex;
  justify-content: center;
  float: left;
  width: 201.99px;
  height: 309.32px;
  margin: 0px;
  object-fit: cover;
  border: 1px solid #888;
}

.add-details {
  flex-wrap: nowrap;
  margin: auto;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: #757575;
  font-weight: 200;
  font-size: 14px;

}

.add-btn {
  z-index: 1001;
  align-items: center;
  top: 10px;
}

/**OUTFIT CARD**/

.outfit-card {
  display: flex;
  justify-content: center;
  float: left;
  width: 201.99px;
  height: 309.32px;
  margin: 0px;
  object-fit: cover;
  border: 1px solid #888;
}

.outfit-details {
  flex-wrap: nowrap;
  margin: auto;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: #757575;
  font-weight: 200;
  font-size: 14px;

}

.delete-btn {
  z-index: 1001;
  color: #757575;
  stroke-width: 30%;
  position: absolute;
  right: 15px;
  top: 10px;
}