
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


#nav-bar {
  display: flex;
  align-items: center;
  background-color: rgb(83, 76, 152);
  width: 50%;
  height: 5em;
  margin: auto;
  margin-bottom: 1em;
  color: #fafafa;
  border-radius: 5px;
}

#logo {
  margin-left: 16px;
  text-align: center;
  font-size: 40px;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-weight: 400;
  background: -webkit-linear-gradient(#eee, rgb(151, 139, 255));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


#search {
  padding: 4px 4px 0px 4px;
  border-radius: 10px;
  margin-right: 16px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  cursor: pointer;
}

#search input {
  width: 20em;
  /* background-color:rgb(69 66 90); */
  background-color: transparent;
  border: none;
  color: white;
  border-bottom: 5px solid rgb(69 66 90);
  font-size: 20px;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}


#search ::placeholder{
  color: #d3d2d2;
}

#search input:focus {
  outline: none;
}