.BarLine {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-family: 'Playfair Display', serif;
  font-size: 0.9em;
}

.BarChart {
  margin-top: 5px;
}

