
.BarChart {
  margin-top: 5px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.ratingName {
  text-decoration: underline;
  position: absolute;
}


.ratingName:hover {
  color: blue;
}



