@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.reviewSection {
  display: flex;
  flex-direction: row;
  margin: 100px auto;
}

.averageRating {
  display: flex;

}
.ratingItem {
  font-size: 4em;
  margin-right: 10px;
  font-family: 'Playfair Display', serif;
  margin-top: -30px
}

.percentRecommend {
  font-family: 'Playfair Display', serif;
  font-size: 0.9em;
}

.metaData {
  margin-left: 10px;
}

h3 {
  font-family: 'Playfair Display', serif;
  font-size: 2em;
}

.reviewSummary{
  display: flex;
  margin-bottom: 15px;
}

.ratingBreakdownTitle {
  font-family: 'Playfair Display', serif;
  font-size: 1.1em;
}

.ratingBreakDown {
  margin-top: 20px;
}

.reviewList {
  overflow: hidden;
  overflow-y: scroll;
  height: 600px;
}

.moreReviewsButton {
  border: lightgrey 2px solid;
  background: white;
  font-size: 20px;
  margin-left: 50px;
  font-family: 'Playfair Display', serif;
}

.moreReviewsButton:hover {
  color: lightblue;
}