#checkout-container {
  display: flex;
  flex-direction: column;
}

.checkout-sub-top-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2em;
}

.checkout-button {
  height: 2em;
  width: 10em;
  border-radius: 0;
  text-align: center;
  background-color: transparent;
  border: solid 1px black;
  cursor: pointer
}