#checkout-container {
  display: flex;
  flex-direction: column;
}

.checkout-sub-top-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2em;
}


.checkout-button{
  height: 2em;
  width: 10em;
  border-radius: 0;
  display: inline-block;
  border: 0.16em solid;
  margin: 0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration:none;
  text-transform:uppercase;
  font-family:'Roboto',sans-serif;
  font-weight:400;
  text-align:center;
  transition: all 0.15s;
  cursor: pointer
  }

  .checkout-button:active{
  color:#BBBBBB;
  border-color:#BBBBBB;
  }